<button {{action "openModal"}} class="dataset-button">
    <span class="dataset-container">
    <div class="dataset-text">
        <h2 class="dataset-title">
            {{data.name}}
        </h2>
        <div class="horizontal-line"></div>
    </div>
    <div class="datatag-container">
    {{#each data.tags as |data_tag|}}
        <div {{action "selectTag" bubbles=false}} class="datatag">
            {{data_tag}}
        </div> 
    {{/each}}
    </div>
    </span>
</button>

{{#modal-window show=modalVisible}}
    <div class="data-modal">
        <div class="dataset-text">
            <h2 class="dataset-title">
                {{data.name}}
            </h2>
            <div class="horizontal-line"></div>
            <div class="data-modal-description">
                {{#each data.info as |info|}}
                    <span class="data-info">{{info.type}}: {{info.value}}</span>
                {{/each}}
            </div>
            <div class="horizontal-line"></div>
            <div class="data-description">
                <p>{{data.description}}</p>
            </div>
        </div>
        <div class="modal-button-container">
            <button class="data-download">Download</button>
            <button class="data-download">Github</button>            
        </div>
    </div>
{{/modal-window}}