<a href={{data.link}}>
    <div class="project-square">
        <img src={{data.image}} class="project-image">
        <div class="project-text">
            <h2 class="project-title">{{data.name}}</h2>
            <div class="horizontal-line"></div>
            <div class="title-container">
                <p style="{{scroll}}" class="project-description">{{data.description}}</p>
            </div>
        </div>
    </div>
</a>
